.container {
    margin-top: 12%;
    display: flex;
    overflow: hidden;
    padding-left: 4%;
    padding-right: 4%;
    justify-content: center;
}
.single-content {
    position: relative;
    transition: 0.3s;
    box-shadow: 10px 20px 20px rgba(0,0,0,0.8);
    width: 300px;
    height: 220px;

    margin-left: 5rem;
}
.single-content .text-content, 
.single-content:after {
    position: absolute;
    left: 20px;
    right: 20px;
}
.single-content:after{
    content: '';
    display: block;
    background: crimson;
    top: 20px;
    bottom: 20px;
    opacity: 0;
    transform: rotate3d(-1,1,0,100deg);
    transition: o.4s;
} 
.single-content:hover:after{
    opacity: 0.9;
    transform: rotate3d(0,0,0,0deg);
}
.single-content img {
    width: 100%;
    height: auto;
}
.text-content {
    top: 45%;
    opacity: 0;
    z-index: 1;
    transform: translate(10%, -30%);
    transition: 0.3s;
    text-align: center;
    color: #fff;
}
.text-content h4 {
    font-family: cursive;
}
.single-content:hover .text-content{
  opacity: 1;
  transform: translate(0, -50%);
  transition-delay: 0.3s;

}